body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center; 
}
form {
    /*background: #fff;*/
    background-size: cover; 
    background-position: center; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
input[type="text"], input[type="date"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0 20px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"] {
    margin: 10px 0;
}
input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #218838;
}
/* Estilo básico del botón */
.btn-group .button {
    background-color: #04AA6D; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; 
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  